/*
** Globals
*/

body {
    border: 50px;
    background: url('../img/feather-3010848_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    overflow-x: hidden;
}

div {
    display: inline-block;
    border: groove #022c4d 1px;
    padding: 20px;
}

.co-creator {
    color: lightblue;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgb(0, 0, 0), rgba(0, 0, 0, 0.2));
}

.romchy {
    margin: 0;
    padding: 0 5px;
    position: relative;
    display: inline-block;
    transform: rotateZ(270deg);
    animation: rotate 3s infinite alternate;
    color: orange;
}

#romchy {
    position: relative;
}

#secret-picture {
    position: relative;
    visibility: hidden;
}

.empty {
    min-height: 200px;
}

.motWrap {
    text-align: center;
    background-color: lightblue;
}

.motLink {
    text-decoration: none;
    font-size: 51px;
    transition: all 300ms linear;
}

.motLink:hover {
    color: white;
}

.steamPunk {
    color: blue;
    text-shadow: 2px 0px 0 #F71735, 0 2px 0 #41EAD4;
    position: relative;
}

#sun00 {
    font-size: 50px;
    color: rgb(69, 240, 126);
}

@keyframes rotate {
    0% {
        transform: rotateZ(270deg)
    }
    50% {
        transform: rotateZ(450deg)
    }
    100% {
        transform: rotateZ(0deg)
    }
}

#alex-nielsen {
    text-align: right;
    color: yellow;
    font-size: 1.5em;
    transition-property: font-size;
    transition-duration: 2s;
}

#alex-nielsen:hover {
    font-size: 5em;
    text-shadow: 5px 5px 6px crimson;
}

#i3123708 {
    position: relative;
    border: none !important;
}

#i3123708 a {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Consolas', sans-serif;
    text-decoration: none;
    color: #2ed5ff;
    background: #fa2f4a;
    border-radius: 10px;
}

.dmac {
    font-family: Georgia;
    position: relative;
    font-size: 1.25em;
    color: orange;
}

.sunny {
    font-size: 50px;
    color: #ff00eb;
}

.stacy {
    font-size: 1.5em;
    color: purple;
    text-align: center;
    animation: pulse 1.5s ease alternate infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

.mills {
    border: 1px solid #000;
    position: relative;
    margin: 0;
    font-size: 10vmin;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
    text-decoration: none;
}

.ariel-container {
    background: #2a2a2a;
    display: flex;
    justify-content: center;
}

.ariel {
    position: relative;
    font-size: 24px;
    color: transparent;
    background: linear-gradient(to right, red, yellow, green, blue);
    background-clip: text;
    -webkit-background-clip: text;
}

.firuz {
    font-size: 30px;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(0deg, #444110, #f6e46a, #444110);
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
}

#secret {
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
}

.sheena-style {
    position: static;
    background: transparent;
    box-shadow: 5px 5px 10px #000;
    padding: 30px;
}

.sheena-style a {
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.sheena-style:hover {
    background: #fff;
}

#ppessi {
    font-family: "Comic Sans MS";
    color: Chartreuse;
    background: DeepPink;
    font-size: 40px;
    padding: 10px;
    border: 5px dashed Yellow;
}


/* Code below is added by Sachithra. */

#c47 {
    position: relative;
    color: #ff00de;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 8px #ff00de, 0 0 10px #ff00de;
    font-size: 20px;
}

#break {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #b2009b, 0 0 2px 6px #b2009b, 0 0 15px 6px #b2009b;
    border-left: 2px solid #b2009b;
    border-right: 2px solid #b2009b;
}

.spinBreak {
    animation: spin 10s linear infinite;
}

.contributors {
    width: 100%;
    height: 2em;
    text-align: center;
    border-style: none;
    display: block;
    background-color: #3A7295;
    grid-column: 1 / -1;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}

.contributors a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    transition: color 0.5s;
}

.contributors a:hover {
    color: #c9c8c5;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Code above is added by Sachithra. */

.h1tag {
    position: relative;
}

.h1tag a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.daria {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: #cdcdc0;
}

.daria,
.daria a {
    color: #626d71;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.5s;
}

.daria {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    padding-top: 30%;
    text-align: center;
}

.daria a:hover {
    color: #ddbc95;
}

.ravi {
    background: linear-gradient(#68e0b8, #ce5dbf);
    background-size: cover;
}

.ravi h1 a {
    text-decoration: none;
    color: #ffc600;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ravi h1 a:hover {
    font-size: 40px;
}

.rob {
    background-color: lightgreen;
}

.ankit {
	background-color: blue;
}


/* changed border-size with border-width as I suppose that this is what the user meant */

.rcat {
    background: radial-gradient(#6a28e5, #9115c6);
    border-style: solid;
    border-color: #24e24a;
    border-width: 10px;
    border-radius: 5%;
    padding-top: 15%;
    box-shadow: 5px 5px 5px green;
    font-family: Helvetica;
}

.rcat h1 a {
    color: #24e24a;
    text-decoration: none;
    font-size: 70px;
    margin: 25%;
}

.rcat h1 a:hover {
    color: white;
}

.rcat h1 a:visited {
    color: #24e24a;
}

.dcook {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #212322;
    color: white;
    border: none;
    border-radius: 0.3em;
    transition: 0.3s;
}

.dcook h1 a {
    text-decoration: none !important;
    color: white;
    font-family: avenir;
    font-weight: 100;
}

.dcook h1 {
    transition: 0.3s;
}

.dcook h1:hover {
    transform: scale(1.15);
    letter-spacing: 2pt;
}

.matt2 {
    color: rebeccapurple;
    font-weight: bold;
    background-color: deeppink;
    font-size: 70px;
}

#mattl {
    font-size: 3.5em;
    color: purple;
    text-align: center;
    animation: spin 2.5s infinite alternate;
}

@keyframes rotorFlip {
    from {
        transform: rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform: rotateY(360deg) rotateZ(360deg);
    }
}

.jphanna {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.jphanna h1 {
    animation: rotorFlip 10s infinite alternate;
    text-align: center;
}

.jphanna a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}

.aakash {
    background-color: #000;
    text-align: center;
    margin: auto;
    padding: 40px;
    border: 5px solid #fff;
    color: #fff;
}

.aakash a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.aakash:hover {
    border: 5px solid #000;
    zoom: 122%;
}


/* added by faldi */

@import url('https://fonts.googleapis.com/css?family=K2D');
.nrs {
    background-color: #F4D58D;
    box-shadow: 5px 10px #708D81;
    border: 1px solid;
    padding: 10px;
}

.nrs-font {
    color: #fff;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    justify-content: center;
    font: italic bold 30px
}

/* Additions by Amber Roberts */

.amber {
  font-family: fantasy;
  text-shadow: 2px 2px rgba(140, 0, 255, .3);
  background: rgba(148, 0, 211, 0.5);
  border: 5px dashed purple;
  border-radius: 12px 4px;
  text-align: center;
  padding: 50px;
  margin: auto;
  box-shadow: 12px 12px 2px 1px rgba(140, 0, 255, .2);
}

.amber:hover {
  box-shadow: 12px 12px 2px 1px grey;
  background: rgba(140, 0, 255, .2);
  border: 6px dashed white;
}

.amber a:hover {
  color: white;
  text-shadow: 2px 2px #551A8B;
}

/* For Andi Robinson */
.a-rob {
    text-align: center;
    margin: auto;
}

 .halloween-style {
    text-decoration: none;
    color: black;
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000,
    4px 18px 1px #A00000,
    4px 20px 1px #B00000,
    4px 22px 1px #C00000,
    4px 24px 1px #D00000,
    4px 26px 1px #E00000,
    4px 28px 1px #F00000;
} 
