/*---Just to test it's working---*/
body {
  background-color: lightblue;
}
/*--------------------------------*/

:root {
  scroll-behavior: smooth;
}

.container {
  
}

.top-navbar {
  overflow: hidden;
  background-color: black;
  border-style: solid;
  border-color: blue;
  border-radius: 25px;
}

.top-navbar a {
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu{
  display:inline-block;
  
  padding: 30px 16px;
}

.subMenu a{
  text-decoration: none;
  display:block;
  color:white;
  margin:0;
  padding: 15px 16px;
  border-top:solid 1px blue;
}

.sub-sub:hover{
  background:grey; 
}

.subMenu{
  position:absolute;
  background:black;
  display:none;
  top:90px;
  z-index:2;
}

.opacity{
  opacity:0.4;
}