/*
Global styles
*/
.container {
	background-color: maroon;
	margin: 0 auto;
	padding: 10px 10px;
}

footer {
	clear: both;
}

section {
	height: auto;
}
/*
Section boxes
*/

.box1,
.box2,
.box3 {
	margin: 15px 1.65%;
	width: 30%;
	display: inline-block;
	height: 400px;
}

.box1 {
	background-color: lightblue;
}

.box2 {
	background-color: #0f8;
}

.box3 {
	background-color: orange;
}
