/*
** Globals
*/

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, purple, blue);
}

.co-creator {
	margin-top: 25%;
	color: lightblue;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}