* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider {
  width: 100vw;
  height: 32vw;
  position: relative;
}

#slider:hover .controls {
  opacity: .7;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 800ms;
}

.slide1 {
  background-image: url('assets/course1.jpg');
  opacity: 1;
}

.slide2 {
  overflow: hidden;
}

.slide2 video {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slide3 {
  background-image: url('assets/course2.jpg');
}

.heroText {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 4.5vw;
  opacity: 0;
  text-shadow: 2px 2px 2px #000;
}

.textAnimation {
  animation: text 6s forwards ease-in-out;
  animation-delay: 2s;
}

@keyframes text {
  0% { transform: translate(-50%, 0%); opacity: 0; }
  10% { transform: translate(-50%, -50%); opacity: 1; }
  90% { transform: translate(-50%, -50%); opacity: 1; }
  100% { transform: translate(-50%, -50%); opacity: 0; }
}

.controls {
  position: absolute;
  z-index: 1;
  background: hsla(0, 100%, 100%, .4);
  color: hsla(0, 100%, 100%, .9);
  font-size: 20px;
  padding: 10px 15px;
  margin: 0 1vw;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 300ms;
  cursor: pointer;
}

.controls:hover {
  background: hsla(0, 100%, 100%, .9);
  color: hsla(0, 100%, 0%, .9);
}

.nextBtn {
  right: 0;
}

/* Menu */
.menuBar {
  overflow: hidden;
  background-color: #333;
}

.menuBar img {
  max-height: 75px;
  background-color: #333;
}

.menuBar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menuBar li {
  position: sticky;
  display: inline;
  margin: auto;
}

.menuBar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.02em;
}

/* To avoid sticky hover states on tablets/phones */
@media screen and (max-width: 1025px) {
  .controls {
    opacity: .7;
    font-size: 16px;
    padding: 7px 12px;
  }

  .controls:hover {
    background: hsla(0, 100%, 100%, .4);
    color: hsla(0, 100%, 100%, .9);
  }

}
