/*
** Globals
*/

body {
	margin: 0;
	padding: 0;
	background: url('./img/feather-3010848_1280.jpg');
	background-size: cover;

}

div {
	border: groove #022c4d 1px;
	padding: 20px;
}

.co-creator {
	margin-top: 15%;
	color: lightblue;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2), rgb(0,0,0), rgba(0,0,0,0.2));
}
.romchy{
	margin: 0;
	padding: 0 5px;
	position: absolute;
	left: 40%;
	display: inline-block;
	transform: rotateZ(270deg);
	animation: rotate 3s infinite alternate;
	color: orange;
}

#romchy {
	position: relative;
}

#secret-picture{
	position: absolute;
	top: 20px;
	right: 100px;
	visibility: hidden;
}
.empty {
	min-height: 200px;
}

.forkers {
	background-color: lightblue;
}

.motWrap {
  text-align: center;
  background-color: lightblue; }

.motLink {
  text-decoration: none;
  font-size: 51px;
  transition: all 300ms linear; }

.motLink:hover {
  color: white; }

.steamPunk {
	color: blue;
	text-shadow: 2px 0px 0 #F71735, 0 2px 0 #41EAD4;
	position: absolute;
	top: 123px;
	left: 721px;
}

@keyframes rotate {
  0%{ transform: rotateZ(270deg) }
  50%{ transform: rotateZ(450deg) }
  100%{ transform: rotateZ(0deg) }
}

#alex-nielsen {
	text-align: right;
	color: yellow;
	font-size: 1.5em;
  transition-property: font-size;
  transition-duration: 2s;
}
#alex-nielsen:hover {
	font-size: 5em;
	text-shadow: 5px 5px 6px crimson;
}
<<<<<<< HEAD
=======

.dmac {
font-family: Georgia;
position: absolute;
top: 20px;
left: 20px;
font-size: 1.25em;
color: orange;
}

.sunny {
position: absolute;
top: 100px;
left: 30px;
font-size: 50px;
color: red;
}

.stacy {
	font-size: 1.5em;
	color: purple;
	text-align: center;
	animation: pulse 1.5s ease alternate infinite;
}


@keyframes pulse {
	0% {transform: scale(1);}
	100% {transform: scale(2);}
}

.mills {
	position: absolute;
	bottom: 0;
	margin: 0;
	font-size: 20vmin;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 100;
  color: #fff;
	letter-spacing: -70px;
	opacity: 0;
	animation: stretch forwards 1.5s;
	animation-delay: 1s;
	animation-timing-function: cubic-bezier(0, 1.14, .85, 1.36);
	cursor: pointer;
	text-shadow: 4px 4px 4px #000;
}

@keyframes stretch {
	0% { letter-spacing: -70px; opacity: 0 }
	65% { letter-spacing: 180px; opacity: 0.25; }
	80% { letter-spacing: -10px; opacity: 0.5; }
	90% { letter-spacing: 10px; opacity: 0.75; }
	100% { letter-spacing: normal; opacity: 1; }
}

.ariel {
	position: absolute;
	top: 440px;
	left: 600px;
}

.firuz {
	font-size: 30px;
	margin-left: 20px;
	color: white;
}

#secret {
	width: 1px;
	height: 1px;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	border: none;
}


.sheena-style{
	position: static;
	margin-top: 50px;
	background: transparent;
	box-shadow: 5px 5px 10px #000;
	padding:30px;
	width:15%;

}
.sheena-style a{
	font-size: 30px;
	text-decoration: none;
	color:#000;
}
.sheena-style:hover{
	background:#fff;
}

#ppessi {
	font-family: "Comic Sans MS";
	color: Chartreuse;
	background: DeepPink;
	font-size: 40px;
	padding: 10px;
	border: 5px dashed Yellow;
}
/* Code below is added by Sachithra. */
#c47{
	position:absolute;
	left: 515px;
	top: 100px;
	color: #ff00de;
  text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 8px #ff00de,0 0 10px #ff00de;
	font-size: 20px;
}
#break{
  position:absolute;
	left: 500px;
	top: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #b2009b,0 0 2px 6px #b2009b,0 0 15px 6px #b2009b;
  border-left: 2px solid #b2009b;
  border-right: 2px solid #b2009b;
}
.spinBreak{
  animation: spin 10s linear infinite;
}

@keyframes spin{
  0%{transform : rotate(0deg);}
  100%{transform : rotate(360deg);}
}
/* Code above is added by Sachithra. */
>>>>>>> upstream/master
