/*
** Globals
*/

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(225deg, orange, slateblue);
}

div {
	border: solid black;
}

.co-creator {
	margin-top: 15%;
	color: lightblue;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}
.romchy{
	margin: 0;
	padding: 0;
	position: absolute;
	left: 40%;
	display: inline-block;
	transform: rotateZ(270deg);
	animation: rotate 3s infinite alternate;
	color: orange;
}

#romchy {
	position: relative;
}
.empty {
	min-height: 200px;
}

.forkers {
	background-color: lightblue;
}

.motWrap {
  text-align: center;
  background-color: lightblue; }

.motLink {
  text-decoration: none;
  font-size: 51px;
  transition: all 300ms linear; }

.motLink:hover {
  color: white; }

.steamPunk {
	color: blue;
	text-shadow: 2px 0px 0 #F71735, 0 2px 0 #41EAD4;
	position: absolute;
	top: 123px;
	left: 721px;
}

@keyframes rotate {
  0%{ transform: rotateZ(270deg) }
  50%{ transform: rotateZ(450deg) }
  100%{ transform: rotateZ(0deg) }
}

#alex-nielsen {
	text-align: right;
	color: yellow;
	font-size: 1.5em;
  transition-property: font-size;
  transition-duration: 2s;
}
#alex-nielsen:hover {
	font-size: 5em;
	text-shadow: 5px 5px 6px crimson;
}

.dmac {
font-family: Georgia;
position: absolute;
top: 20px;
left: 20px;
font-size: 1.25em;
color: orange;
}

.sunny {
position: absolute;
top: 100px;
left: 30px;
font-size: 50px;
color: red;
}

.stacy {
	font-size: 1.5em;
	color: purple;
	text-align: center;
	animation: pulse 1.5s ease alternate infinite;
}

@keyframes pulse {
	0% {transform: scale(1);}
	100% {transform: scale(2);}
}

.mills {
	position: absolute;
	bottom: 0;
	margin: 0;
	font-size: 20vmin;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 100;
  color: #fff;
	letter-spacing: -70px;
	opacity: 0;
	animation: stretch forwards 1.5s;
	animation-delay: 1s;
	animation-timing-function: cubic-bezier(0, 1.14, .85, 1.36);
	cursor: pointer;
}

@keyframes stretch {
	0% { letter-spacing: -70px; opacity: 0 }
	65% { letter-spacing: 180px; opacity: 0.25; }
	80% { letter-spacing: -10px; opacity: 0.5; }
	90% { letter-spacing: 10px; opacity: 0.75; }
	100% { letter-spacing: normal; opacity: 1; }
}

.ariel {
	position: absolute;
	top: 440px;
	left: 600px;
}
